/* Ecris ici ton code CSS */
@font-face {
    font-family: 'Amatic SC';
    src: url('font/amaticsc-regular-webfont.woff2') format('woff2'),
         url('font/amaticsc-regular-webfont.woff') format('woff');
}

* {
	border: none;
	margin:0;
}

body {
	font-family : "Amatic SC", "Comic Sans MS";
	font-size: 1em;
	color: #F1A31D;
	background-color: #240700;
	overflow: auto;
}

@media all and (max-width: 1024px) {
   	body{
		font-size: 0.6em;
	}
}

header{
	background-color: #240700;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: auto;
	background-color: #240700;
}

h1{
	color: rgb(241,114,6);
	font-size: 12em;
	width: 80%;
	text-align: center;
	margin: auto;
	padding: 10px;
	border:double #F1A31D 10px;
	border-radius: 50px;
}

#haut{
	width: 90%;
	margin: auto;
	display: flex;
}

#circus{
	width: 100%;
	height: auto;
	border-radius: 20px;
}

#presentation{
	color: rgb(241,114,6);
	font-size: 4em;
	text-align: center;
	margin: auto;
	padding: 5px;
}

#bas{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #862605;	
}

@media all and (max-width: 1024px) {
	#bas{
		display: flex;
		flex-direction: column;
	}
}

.nav {
    display: flex;
	list-style-type: none; 
    padding: 5px;
	margin: 5px auto;
	background-color: #F1A31D;
	border-radius: 10px;
}

a{
	color: #7A97A7;
	padding: 10px;
	font-family: "Comic Sans MS";
	margin: 10px;
}

#Performances, #About_us, #Prices, #Contact_Us {
	margin: 10px 10px 10px 50px;
	padding: 10px;
	width: 20%;	
	font-size: 3em;
}

#Perf{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 50px;
	padding: 10px;
}

@media all and (max-width: 1024px) {
	#Perf{
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
}
}

#laugh, #dream, #marvel{
	list-style-type: none;
	max-width: 350px;
	min-width: 200px;
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border : solid #F17206;
	border-radius: 20px;
	box-shadow: 20px 10px #F5AF30;
}

p{
	margin: 10px;
	font-family: "Comic Sans MS";
	padding: 10px;
	text-align: justify;
}

h3{
	text-align: center;
	margin: 20px;
	font-size: 2em;
}

.perform{
	max-width: 256px;
	min-width: 140px;
	height: auto;
	margin: 10px;
}

#About, #Contact{
	background-color: #862605;
}

#text_about{
	margin: auto;
	font-family: "Comic Sans MS";
	font-size: 0.6em;
	padding: 10px;
	text-align: justify;
	width: 70%;
}

table {
    border-collapse: separate;
    empty-cells: hide;
    width: 60%;
    margin:auto;
	font-size: 1.5em;
}

td, th {
    border: 1px solid #839FB5;
    width: 5%;
    text-align: center;
}

#formulaire {
	text-align: center;
	padding: 10px;
}

#message, input{
  margin: 10px;
  background-color: #F1A31D;
  border-radius: 2px;
  padding: 5px;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
}

#design, #follow, #law {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@media all and (max-width: 1024px) {
	#design, #follow, #law {
		display: flex;
		flex-direction: column;
		align-items: center;

}
}